@model List<WebCV.Models.Profile>
<section class="comment-w3l" id="contact">
    <div class="container">
        <h3 class="text-center">Contact Me</h3>
        <div class="col-lg-6 col-md-6 col-sm-6 comment-agile1" data-aos="flip-left">
            <form action="#" method="post">
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name" placeholder="Full Name" required="">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <p type="email" class="form-control" id="email" placeholder="Email Address" required="">{{Email}}</p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name1" placeholder="Phone Number" required="">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <textarea rows="10" cols="100" class="form-control" id="message" placeholder="Message" required=""></textarea>
                    </div>
                </div>
                @*<input type="submit" class="btn btn-primary" value="Send">Send Message</input>*@
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 comment-agile2" data-aos="flip-right">
            <h4>Contact me for more details</h4>
            <p class="comment-w3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed insapien urna. Aenean Sed insapien urna in diam lacus. Nullam nisl urna, in consequat eget enim vitae, faucibus malesuada consectetur adipisc ingelit in consequat enim vitae</p>
           @foreach (var item in Model)
           {
                <h5><span class="fa fa-phone"></span> @item.Phone</h5>
                <h5><span class="fa fa-envelope"></span> <a href="mailto:name@example.com"> mail@example.com</a></h5>
                <h5><span class="fa fa-map-marker"></span> @item.Adress</h5>
           }
        </div>
        <div class="clearfix"></div>
    </div>
</section>
