@model List<WebCV.Models.View_Profile_Experience>
<section class="experience" id="experience">
    <div class="container">
        <h3 class="text-center">Kinh nghiệm làm việc</h3>
        <div class="col-md-5 exp_left">
            <img src="~Content/images/shindey.jpg" alt="" />
        </div>
        <div class="col-md-7 exp_right">
            <h3>Kinh nghiệm của tôi</h3>
            <p>
                Dưới đây là một số kinh nghiệm làm việc của cá nhân tôi. Rất mong nhận được sự quan tâm.
            </p>
            <div class="exp_grids">
                @foreach (var item in Model)
                {
                    <div class="exp_grid1">
                        <h4>@item.ExperienceName</h4>
                        <h5>@item.Ex_Date</h5>
                        <p>
                            @item.Ex_Descreptiom
                        </p>
                        <span class="fa fa-circle"></span>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
