@model List<Model.Framework.View_Profile>
<section class="experience" id="experience">
    <div class="container">
        <h3 class="text-center">Work Experience</h3>
        <div class="col-md-5 exp_left">
            <img src="~Content/images/shindey.jpg" alt="" />
        </div>
        <div class="col-md-7 exp_right">
            <h3>My Experience</h3>
            <p>
                Morbi imperdiet scelerisque felis, eget auctor libero eleifend nec.
                Curabitur a aliquet justo. Etiam et ullamcorper dolor. Nam pulvinar accumsan congue.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <div class="exp_grids">
                @foreach (var item in Model)
                {
                    <div class="exp_grid1">
                        <h4>@item.ExperienceName</h4>
                        <h5>@item.Ex_Date</h5>
                        <p>
                            @item.Ex_Descreptiom
                        </p>
                        <span class="fa fa-circle"></span>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
