<div class="footer">
    <div class="container">
        <div class="col-md-4 footer-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>Giới thiệu</h4>
            <p>Nơi giúp bạn dễ dàng tìm kiếm nguồn lực, chia sẻ những kinh nghiệm cá nhân.</p>
            <img src="~/Content/Home/images/t4.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-4 footer-middle wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>Thông tin</h4>
            <div class="mid-btm">
                <p>Website chính thức version 01</p>
                <a href="https://w3layouts.com/">https://aaaaa.com/</a>
            </div>

            <p>Website chính thức version 02</p>
            <a href="https://w3layouts.com/">https://bbbbb.com/</a>

        </div>
        <div class="col-md-4 footer-right wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h4>Liên hệ</h4>
            <p>Thông tin - địa chỉ liên hệ</p>
            <div class="name">
                <form action="#" method="post">
                    <input type="text" placeholder="Tên" required="">
                    <input type="text" placeholder="Email" required="">
                    <input type="submit" value="Gửi">
                </form>

            </div>

            <div class="clearfix"> </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="copyright wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
    <div class="container">
        <p>© 2018 CV Blog. Tất cả trong tầm tay | Thiết kế bởi <a href="http://aaaaa.com/">Team work</a></p>
    </div>
</div>
