<!DOCTYPE HTML>
<html>
<head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Style Blog Responsive" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/Home/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/Home/css/style01.css" rel="stylesheet" />
    <link href="~/Content/Home/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/Home/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <link href="~/Content/Home/css/follow.css" rel="stylesheet" />
    <!-- animation-effect -->
    <link href="~/Content/Home/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/Home/css/custom02.css" rel="stylesheet">
    <script src="~/Content/Home/js/wow.min.js"></script>
    <script src="~/Scripts/search.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Content/Home/js/follow.js"></script>
    <script>
 new WOW().init();
    </script>
    <!-- //animation-effect -->
    @*follow*@
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.3.js'></script>
    <style type='text/css'>
        #btna.button1 {
            text-align: center;
            background-origin: padding-box;
            background-size: auto;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-left-style: solid;
            border-left-width: 1px;
            border-right-style: solid;
            border-right-width: 1px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-top-style: solid;
            border-top-width: 1px;
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 23px;
            outline-color: rgb(255, 255, 255);
            outline-style: none;
            outline-width: 0px;
            text-decoration: none;
            text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 0px;
            vertical-align: middle;
            padding: 15px 30px 15px 30px;
            zoom: 1;
            width: 180px;
        }

        #btna.follow {
            background-image: linear-gradient(rgb(0, 150, 255), rgb(0, 93, 255));
            color: rgb(255, 255, 255);
            border-bottom-color: rgb(0, 113, 224);
            border-left-color: rgb(0, 113, 224);
            border-right-color: rgb(0, 113, 224);
            border-top-color: rgb(0, 113, 224);
        }

            #btna.follow:hover, #btna.follow:active {
                background: linear-gradient(#008aea, #024dcf);
                border-color: #0055a7;
            }

        #btna img {
            width: 14px;
            margin-right: 3px;
        }

        #btna.unfollow {
            color: #6e6e6e;
            background: #f3f3f3;
            background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
            background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
            border-bottom-color: #dcdcdc;
            border-left-color: #dcdcdc;
            border-right-color: #dcdcdc;
            border-top-color: #dcdcdc;
        }

            #btna.unfollow:hover, #btna.unfollow:active {
                background: linear-gradient(#eb3845, #d9030a);
                border-color: #e7473c;
                color: #fff;
            }
    </style>
    <script type='text/javascript'>
        $(function () {
            initiateFollow();
        });

        function initiateFollow() {
            $("a.unfollow").bind("mouseover", function () {
                $(this).children("img").attr("src", "/Content/Home/images/heart02.png");
                $(this).children("span").text("UnFollow");
            });

            $("a.unfollow").bind("mouseout", function () {
                $(this).children("img").attr("src", "/Content/Home/images/heart02.png");
                $(this).children("span").text("Following");
            });

            $("a.unfollow").bind("click", function () {
                $(this).children("img").attr("src", "/Content/Home/images/heart02.png");
                $(this).children("a.unfollow span").text("Follow");
                $(this).removeClass("unfollow");
                $(this).addClass("follow");
                $(this).unbind();
                initiateFollow();
            });

            $("a.follow").bind("click", function () {
                $(this).children("img").attr("src", "/Content/Home/images/heart01.png");
                $(this).children("span").text("UnFollow");
                $(this).removeClass("follow");
                $(this).addClass("unfollow");
                $(this).unbind();
                initiateFollow();
            });
        }
    </script>
</head>
<body>
    
    @RenderPage("_header.cshtml")
    @RenderBody()
    @RenderPage("_footer.cshtml")
</body>
</html>