
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--start-main-->
<div class="header-bottom">
    <div class="container">
        <div class="logo wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <h1><a href="index.html">CV BLOG</a></h1>
            <p><label class="of"></label>MỘT PHONG CÁCH SỐNG HIỆN ĐẠI<label class="on"></label></p>
        </div>
    </div>
</div>
<!-- banner -->
<div class="banner">
    <div class="container">
        <h2>Sống để thay đổi - Thay đổi để sống</h2>
        <p>Cuộc sống của bạn chỉ thật sự ý nghĩa và trọn vẹn khi bạn biết giữ gìn và nuôi dưỡng ước mơ, biết ghi nhận, 
        biết tin vào những lời hứa. Bạn cần sự hiểu biết và sáng tạo nên cuộc sống đã ban cho bạn đôi bàn tay và trí óc để khám phá và làm việc.</p>
    </div>
</div>
@Html.Action("ContentTop", "Home")
<!-- technology-left -->
<div class="technology">
    <div class="container">
        <div class="col-md-9 technology-left">
            <div class="tech-no">
                <!-- technology-top -->
                @Html.Action("DetailProfile", "Home")
                @Html.Action("InvolvePartial", "Home")
            </div>
        </div>
        @Html.Action("Popular", "Home")
    </div>
</div>

