@model List<WebCV.Models.Profile>
<div class="clearfix"></div>
<div class="w3ls">
    @foreach (var item in Model)
    {
        <div class="col-md-6 w3ls-left wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <div class="tc-ch">
                <div class="tch-img">
                    <a href="">
                        <img src="@item.Image" class="img-responsive img-home-profile" alt="">
                    </a>
                </div>

                <h3><a href="">@item.FullName</a></h3>
                <h6>BY <a href="">ADAM ROSE </a>JULY 10 2016.</h6>
                <p>@item.Descreption</p>
                <div class="bht1">
                    <a href="@Url.Action("ResponProfile",new {@Id_Profile=item.Id_Profile})">Read More</a>
                </div>
                <div class="soci">
                    <ul>
                        <li class=""><a href="#"><img style="width:30px;height:30px;" src="~/Content/Home/images/heart01.png" /></a></li>
                        <li class="hvr-rectangle-out"><a class="" href="#"><img style="width:30px;height:30px;" src="~/Content/Home/images/messeage.jpg" /></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    }
    <div class="clearfix"></div>
</div>



