@model List<WebCV.Models.Top3_Profile_Multil_Language_Result>

<div role="tabpanel" class="tab-pane fade" id="expeditions" aria-labelledby="expeditions-tab">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-5 tab-image">
            <a href="@Url.Action("ResponProfile",new {@Id_Profile=item.Id_Profile})">
                <img src="@item.Image" class="img-responsive div-img-home-multil_language" alt="Wanderer">
            </a>
        </div>
    }
    <div class="clearfix"></div>
</div>

